/* since there was already inline CSS, we override with !important but this is not good practice at all */

h1 {
    color: hotpink !important;
    border-bottom: 10px purple dotted  !important;
}

h2 {
    font-style: italic !important;
}

ul {
    background-color: #eeeeee !important;
    border: 5px solid purple !important;
    padding: 1px !important;
}

a:hover {
    color: green !important;
}